/* ALL GRID AREAS */

/* PROFILE */

.col-1-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 5% 10% 5% 10% 60% 10%; 
    grid-template-areas: 
    ". . . . ."
    ". . div1p . ."
    ". . div1f. ."
    ". div1h3a img div1h3d ."
    ".  div1pa img div1pd ."
    ". . . . .";
}

.col-1-div .höna {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-1-div .höna img {
    height: 120px;
    width: 120px;
}
.col-1-div h2:nth-child(1) {
    grid-area: div1p;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.col-1-div h4 {
    grid-area: div1f;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.col-1-div h3:nth-child(3) {
    grid-area: div1h3a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid grey 1px;
}

.col-1-div h3:nth-child(6) {
    grid-area: div1h3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid grey 1px;
}

.col-1-div .about-text {
    grid-area: div1pa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.col-1-div .profile-text {
    grid-area: div1pd;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 2rem;
    padding-top: 1.6rem;
}

.col-1-div .details-icon {
    grid-area: div1pd;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div .details-icon i {
    font-size: 16rem;
    opacity: 0.1;
    color: rgb(175, 184, 169);
}

.col-1-div .about-icon {
    grid-area: div1pa;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div .about-icon i {
    font-size: 16rem;
    opacity: 0.1;
    color: rgb(175, 184, 169);
}


/* EXPERIENCES */

.col-2-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 32.5% 5% 32.5% 10%; 
    grid-template-areas: 
    ". . . . ."
    ". . div2e . ."
    ". div2lib div2lib div2lib ."
    ". . . . ."
    ".  div2lim div2lim div2lim ."
    ". . . . .";
}

.col-2-div h2 {
    grid-area: div2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2-div .bth {
    grid-area: div2lib;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.col-2-div .medieinstitutet {
    grid-area: div2lim;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

/* ABILITES */

.col-3-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 2.5% 10% 5% 30% 5% 30% 5% 10% 2.5%; 
    grid-template-areas: 
    ". . . . ."
    ". . ab . ."
    ". sk sk sk ."
    ". skd skd skd ."
    ". to to to ."
    ". tod tod tod ."
    ". la la la ."
    ". lad lad lad ."
    ". . . . .";
}

.col-3-div p {
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
}

.col-3-div h2 {
    grid-area: ab;
    display: grid;
    align-items: center;
    justify-content: center;

}

.col-3-div h4:nth-child(2) {
    grid-area: sk;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div h4:nth-child(3) {
    grid-area: to;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div h4:nth-child(4) {
    grid-area: la;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div .skills {
    grid-area: skd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;    
}

.col-3-div .tools {
    grid-area: tod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.col-3-div .languages {
    grid-area: lad;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}
/* PROJECTS */

.col-4-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto 4% auto 20%;
    grid-template-rows: 5% 10% 30% 10% 30% 10% 5%; 
    grid-template-areas: 
    ". . . . ."
    ". . div4h1 . ."
    ". carl . design ."
    ". clink . dlink ."
    ". game . web ."
    ". glink . wlink ."
    ". . . . .";
} 

.col-4-div h2 {
    grid-area: div4h1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-4-div .project-1,.project-1-text {
    grid-area: carl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-1-links {
    grid-area: clink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.col-4-div .project-2,.project-2-text {
    grid-area: design;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-2-links {
    grid-area: dlink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col-4-div .project-3,.project-3-text {
    grid-area: game;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-3-links {
    grid-area: glink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-4-div .project-4,.project-4-text {
    grid-area: web;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-4-links {
    grid-area: wlink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* CONTACT */

.col-5-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 15% 30% 25% 20%; 
    grid-template-areas: 
    ". . . . ."
    ". . cont . ."
    ". mail linked face . "
    ". matext litext fatext ."
    ". . cop  . .";
}

.col-5-div h2 {
    grid-area: cont;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-5-div p {
    grid-area: cop;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.col-5-div a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.col-5-div p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.col-5-div a:nth-child(2) {
    grid-area: mail;
}

.col-5-div p:nth-child(3) {
    grid-area: matext;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.col-5-div a:nth-child(4) {
    grid-area: linked;
}

.col-5-div p:nth-child(5) {
    grid-area: litext;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.col-5-div a:nth-child(6) {
    grid-area: face;
}

.col-5-div p:nth-child(7) {
    grid-area: fatext;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}