/* ALL GRID AREAS */

/* PROFILE */

.col-1-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 20% 10% 50% 10%; 
    grid-template-areas: 
    ". . . . ."
    ". . div1p . ."
    ". div1h3a img div1h3d ."
    ".  div1pa img div1pd ."
    ". . . . .";
}

.col-1-div .höna {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-1-div .höna img {
    height: 120px;
    width: 120px;
}
.col-1-div h2:nth-child(1) {
    grid-area: div1p;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.col-1-div h4 {
    grid-area: div1p;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.col-1-div h3:nth-child(3) {
    grid-area: div1h3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div h3:nth-child(5) {
    grid-area: div1h3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div .about-text {
    grid-area: div1pa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.col-1-div .profile-text {
    grid-area: div1pd;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* EXPERIENCES */

.col-2-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 32.5% 5% 32.5% 10%; 
    grid-template-areas: 
    ". . . . ."
    ". . div2e . ."
    ". div2lib div2lib div2lib ."
    ". . . . ."
    ".  div2lim div2lim div2lim ."
    ". . . . .";
}

.col-2-div h2 {
    grid-area: div2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2-div .bth {
    grid-area: div2lib;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col-2-div .medieinstitutet {
    grid-area: div2lim;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ABILITES */

.col-3-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 5% 5% 30% 5% 30% 5% 10% 5%; 
    grid-template-areas: 
    ". . ."
    ". ab ."
    ". sk ."
    ". skd ."
    ". to ."
    ". tod ."
    ". la ."
    ". lad ."
    ". . .";
}

.col-3-div h2 {
    grid-area: ab;
    display: grid;
    align-items: center;
    justify-content: center;
}

.col-3-div h4:nth-child(2) {
    grid-area: sk;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div h4:nth-child(3) {
    grid-area: to;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div h4:nth-child(4) {
    grid-area: la;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

.col-3-div .skills {
    grid-area: skd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;    
}

.col-3-div .tools {
    grid-area: tod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.col-3-div .languages {
    grid-area: lad;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}
/* PROJECTS */

.col-4-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 28% 4% 28% 20%;
    grid-template-rows: 4% 5% 39% 5% 39% 4% 4% ; 
    grid-template-areas: 
    ". . . . ."
    ". . div4h1 . ."
    ". carl . design ."
    ". clink . dlink ."
    ". game . web ."
    ". glink . wlink ."
    ". . . . .";
} 

.col-4-div h2 {
    grid-area: div4h1;
}

.col-4-div .project-1 {
    grid-area: carl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-1-links {
    grid-area: clink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-4-div .project-2-links {
    grid-area: dlink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-4-div .project-3-links {
    grid-area: glink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-4-div .project-4-links {
    grid-area: wlink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-4-div .project-2 {
    grid-area: design;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-3 {
    grid-area: game;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.col-4-div .project-4 {
    grid-area: web;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-4-div .project-4 {
    grid-area: web;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* CONTACT */

.col-5-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 30% 30% 20%; 
    grid-template-areas: 
    ". . . . ."
    ". . cont . ."
    ". . . . ."
    ". . cop . .";
}

.col-5-div h1 {
    grid-area: cont;
    display: grid;
    align-items: flex-start;
    justify-content: center;
}

.col-5-div p {
    grid-area: cop;
    display: grid;
    align-items: flex-start;
    justify-content: center;
}