/* MAIN */
main {
    position: relative;
}

.col-pic-div {
    height: 100vh;
    background-image: url(../img/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.col-pic-text {
    font-size: 2rem;
    color: rgb(252, 246, 246);
    position: relative;
}

.col-pic-div .startDiv {
    border-radius: 10px 10px 0 0;
    background: rgba(133, 130, 130, 0.808);
    position: absolute;
    z-index: 1000;
    width: 126.5px;
    height: 74px;
    bottom: 0;
    left: 85vw;
    display: inline;
}

.col-pic-div .startDiv a {
    display: block;
}

.col-pic-div .startDiv i {
    color: white;
}

.col-pic-div .h-menu {
    background: black;
    bottom: 0;
    left: 80vw;
    position: absolute;
    width: 40px;
    height: 45px;
    margin-bottom: 0.5rem;
}





.name-border {
    height: 2px;
    width: 80%;
    background:white;
    margin: auto;
}



/* GRID */
/* .display-grid {
    display: grid;
} */

/* .max-width {
    max-width: 1200px;
    margin: auto;
} */

/* .grid-all {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
} */

.grid-col-1 {
    background-color: rgb(248, 252, 252);
    height: 40rem;
    width: 100%;
}

.col-1-div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 50% 20%; 
    grid-template-areas: 
    ". . . . ."
    ". . div1p . ."
    ". div1h3a . div1h3d ."
    ".  div1pa . div1pd ."
    ". . . . .";

}
.col-1-div h1 {
    grid-area: div1p;
    display: flex;
    justify-content: center;
    align-items: center;

}
.col-1-div h3:nth-child(2) {
    grid-area: div1h3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div h3:nth-child(4) {
    grid-area: div1h3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1-div p:nth-child(3) {
    grid-area: div1pa;
}

.col-1-div p:nth-child(n+5) {
    grid-area: div1pd;
    display: flex;
    justify-content: space-around;    
}


.grid-col-2 {
    background-color: rgb(60, 141, 141);
    height: 40rem;
    width: 100%;
}

.grid-col-3 {
    background-color: rgb(49, 92, 92);
    height: 40rem;
    width: 100%;

}

.grid-col-4 {
    background-color: rgb(39, 65, 65);
    width: 100%;
    height: 40rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem auto 2rem; */
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . .";
}


.grid-col-5 {
    background-color: rgba(133, 130, 130, 0.808);
    height: 40rem;
    width: 100%;
}