@media screen and (max-width: 798px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.8);
        transition-duration: 2s;
        padding-bottom: 1rem;
    }
    .sidebar {
        margin: 0;
        position: absolute;
        width: 100%;
        display: none;
        line-height: 1rem;
    }
    .col-pic-div .startDiv {
        bottom: 0;
        left: 0;
        width: 100%; 
    }
    .media-button  {
        display: flex;
    }

} 

@media screen and (min-width: 799px) {
    .col-pic-div .col-pic-text {
        transform: scale(1);
        transition-duration: 2s;
    }
} 