@media screen and (max-width: 798px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.8);
        transition: 1.4s ease-in;
        padding-bottom: 1rem;
    }
    .sidebar {
        display: none;
    }
    .down-menu {
        /* visibility: hidden;  */
        width: 100%;
    }
    .col-pic-div .startDiv {
        bottom: 0;
        left: 0;
        width: 100%; 
    }
    .media-button  {
        display: flex;
    }
    .col-1-div {
        height: 100%;
        display: grid;
        grid-template-columns: 10% 30% 20% 30% 10%;
        grid-template-rows: 10% 20% 10% 50% 10%; 
        grid-template-areas: 
        ". . . . ."
        ". . div1p . ."
        ". div1h3a img div1h3d ."
        ".  div1pa img div1pd ."
        ". . . . .";
    }
    .col-2-div {
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 10% 10% 32.5% 5% 32.5% 10%; 
        /* grid-template-areas: 
        ". . . . ."
        ". . div2e . ."
        ". div2lib div2lib div2lib ."
        ". . . . ."
        ".  div2lim div2lim div2lim ."
        ". . . . ."; */
    }
    .col-3-div {
        height: 100%;
        display: grid;
        grid-template-columns: 5% 90% 5%;
    }
    .grid-col-4 {
        height: 90rem;
    }
    .col-4-div {
        height: 100%;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 6% 20% 3.5% 20% 3.5% 20% 3.5% 20% 3.5%; 
        grid-template-areas: 
 
        ". div4h1 ."
        ". carl ."
        ". dlink ."
        ". design ."
        ". clink ."
        ". game ."
        ". glink ."
        ". web ."
        ". wlink .";
    }
    .col-4-div img {
        height: 100%;
        width: auto;
    }

} 

@media screen and (max-width: 599px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.6);
        transition: 1.4s ease-in;
        padding-bottom: 0.7rem;
    }
    .col-4-div img {
        height: auto;
        width: 100%;
    }
    .col-4-div {
        height: 100%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 6% 20% 3.5% 20% 3.5% 20% 3.5% 20% 3.5%; 
        grid-template-areas: 
 
        ". div4h1 ."
        ". carl ."
        ". dlink ."
        ". design ."
        ". clink ."
        ". game ."
        ". glink ."
        ". web ."
        ". wlink .";
    }

} 

@media screen and (min-width: 799px) {
    .col-pic-div .col-pic-text {
        transform: scale(1);
        transition: 1.4s ease-in;
    }
    .down-menu {
        display: none;
    }
    .col-4-div img {
        height: auto;
        width: 100%;
    }
} 

@media screen and (min-width: 1200px) {
    .col-4-div img {
        height: auto;
        width: 100%;
    }
} 