@media screen and (max-width: 798px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.8);
        transition: 1.4s ease-in;
        padding-bottom: 1rem;
    }
    .sidebar {
        display: none;
    }
    .down-menu {
        width: 100%;
    }
    .col-pic-div .startDiv {
        bottom: 0;
        left: 0;
        width: 100%; 
    }
    .media-button  {
        display: flex;
    }
    .col-1-div {
        height: 100%;
        display: grid;
        grid-template-columns: 5% 15% 20% 20% 20% 15% 5%;
        grid-template-rows: 5% 5% 5% 10% 10% 50% 10%; 
        grid-template-areas: 
        ". . . . . . ."
        ". . div1p div1p div1p . ."
        ". . div1f div1f div1f . ."
        ". div1h3a div1h3a img div1h3d div1h3d ."
        ". div1pa  div1pa img div1pd div1pd ."
        ". div1pa  div1pa . div1pd div1pd ."
        ". . . . . . .";
    }
    .col-1-div .details-icon i {
        font-size: 10rem;
    }
    .col-1-div .about-icon i {
        font-size: 10rem;
    }
    .col-2-div {
        grid-template-columns: 5% 35% 20% 35% 5%;
        grid-template-rows: 10% 10% 32.5% 5% 32.5% 10%;
    }
    .col-3-div {
        height: 100%;
        display: grid;
        grid-template-columns: 5% 35% 20% 35% 5%;
    }
    .grid-col-4 {
        height: 105rem;
    }
    .col-4-div {
        height: 100%;
        display: grid;
        grid-template-columns: 5% 35% 20% 35% 5%;
        grid-template-rows: 4% 14% 2% 14% 2% 14% 2% 14% 2% 14% 2% 14% 2%; 
        grid-template-areas: 
        ". div4h1 div4h1 div4h1 ."
        ". carl carl carl ."
        ". dlink dlink dlink ."
        ". design design design ."
        ". clink clink clink ."
        ". game game game ."
        ".glink glink glink ."
        ". web web web ."
        ". wlink wlink wlink ."
        ". nasa nasa nasa ."
        ". nasalink nasalink nasalink ."
        ". chat chat chat ."
        ". chatlink chatlink chatlink .";
    }
    .col-4-div img {
        height: 100%;
        width: auto;
    }
    .col-5-div {
        height: 100%;
        display: grid;
        grid-template-columns: 10% 25% 30% 25% 10%;
        grid-template-rows: 10% 15% 30% 25% 20%; 
        grid-template-areas: 
        ". . . . ."
        ". . cont . ."
        ". mail linked face . "
        ". matext litext fatext ."
        ". . cop  . .";
    }
}

@media screen and (max-width: 659px) {
    .grid-col-2 {
        height: 65rem;
    }
    .col-2-div {
        grid-template-rows: 5% 5% 37.5% 5% 37.5% 10%; 
    }
}

@media screen and (max-width: 599px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.6);
        transition: 1.4s ease-in;
        padding-bottom: 0.7rem;
    }
    .time {
        display: none;
    }
    .grid-col-1 {
        height: 55rem;
    }
    .col-1-div .about-icon {
        display: none;
    }
    .col-1-div .details-icon {
        display: none;
    }

}
@media screen and (max-width: 499px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.6);
        transition: 1.4s ease-in;
        padding-bottom: 0.7rem;
    }
    .col-4-div img {
        height: 100%;
        width: auto;
    }
    .grid-col-5 {
        height: 40rem;
    }
    .col-5-div {
        height: 100%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 5% 5% 20% 5% 20% 5% 20% 10% 10%; 
        grid-template-areas: 
        ". . . . ."
        ". . cont . ."
        ".  mail mail mail ."
        ". matext matext matext ."
        ".  linked linked linked  . "
        ". litext litext litext ."
        ".   face face face ."
        ". fatext fatext fatext ."
        ". cop cop cop .";
    }
    .col-2-div {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 2% 5% 47% 5% 38% 2%; 
    }
}

@media screen and (max-width: 459px) {
    .col-pic-div .col-pic-text { 
        transform: scale(0.6);
        transition: 1.4s ease-in;
        padding-bottom: 0.7rem;
    }
    .col-4-div img {
        height: auto;
        width: 100%;
    }
}



@media screen and (min-width: 1500px) {
    .col-4-div img {
        height: 100%;
        width: auto;
    }
}
